.landing{
    background-image: url(./assets/images/Landing-Background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing__coming_soon {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-waitlist {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0e20ec, #d400a1);
}

.hr-border {
  background-image: linear-gradient(to right, #0e20ec, #d400a1);
  border: 0;
  height: 0.225rem;
  margin-inline: auto;
  width: 70%;
}

.rotate {
  animation: rotation 13s infinite linear;
  animation-delay: 3.5s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
